<div class='page animate__animated animate__fadeInLeft'>

    <!-- <a [routerLink]="'/employees'">
        Back
    </a> -->

    <h1>Ed Byrne's Payment Schedule (#445245)</h1>
    <table>
        <thead>
            <th>Date</th>
            <th>Payment Types</th>
            <th>Amount</th>
        </thead>
        <tbody>
            <tr>
                <td>
                    10/10/2020
                </td>
                <td>
                    Base Salary
                </td>
                <td>
                    £233.00
                </td>
            </tr>
        </tbody>
    </table>

</div>