<div class='page animate__animated animate__fadeInLeft'>

    <br>
    <a [routerLink]="'/employees'">
        Back to employees
    </a>


    <h1>{{ employee.employee_name }} Payment Schedule (#{{ employee.id}})</h1>
    <table>
        <thead>
            <th>Date</th>
            <th>Payment Types</th>
            <th>Amount</th>
        </thead>
        <tbody>
            <tr *ngFor="let p of upcoming_payments">
                <td>
                    {{ p.payment_date | date:"dd MMM  yyyy" }}
                </td>
                <td>
                    {{ p.payment_type }}
                </td>
                <td>
                   {{ p.payment_amount | currency:"GBP":true }}
                </td>
            </tr>
        </tbody>
    </table>

</div>